[submodule "debian/modules/nginx-cache-purge"]
	path = debian/modules/nginx-cache-purge
	url = git://github.com/FRiCKLE/ngx_cache_purge.git
[submodule "debian/modules/headers-more-nginx-module"]
	path = debian/modules/headers-more-nginx-module
	url = git://github.com/agentzh/headers-more-nginx-module.git
[submodule "debian/modules/nginx-development-kit"]
	path = debian/modules/nginx-development-kit
	url = git://github.com/simpl/ngx_devel_kit.git
[submodule "debian/modules/nginx-echo"]
	path = debian/modules/nginx-echo
	url = git://github.com/agentzh/echo-nginx-module.git
[submodule "debian/modules/nginx-lua"]
	path = debian/modules/nginx-lua
	url = git://github.com/chaoslawful/lua-nginx-module.git
[submodule "debian/modules/nginx-upstream-fair"]
	path = debian/modules/nginx-upstream-fair
	url = git://github.com/gnosek/nginx-upstream-fair.git
[submodule "debian/modules/nginx-upload-progress"]
	path = debian/modules/nginx-upload-progress
	url = git://github.com/masterzen/nginx-upload-progress-module.git
[submodule "debian/modules/nginx-push-stream-module"]
	path = debian/modules/nginx-push-stream-module
	url = git://github.com/wandenberg/nginx-push-stream-module.git
[submodule "debian/modules/nginx-dav-ext-module"]
	path = debian/modules/nginx-dav-ext-module
	url = git://github.com/arut/nginx-dav-ext-module.git
[submodule "debian/modules/ngx_http_substitutions_filter_module"]
	path = debian/modules/ngx_http_substitutions_filter_module
	url = git://github.com/yaoweibin/ngx_http_substitutions_filter_module.git
[submodule "debian/modules/nginx-x-rid-header"]
	path = debian/modules/nginx-x-rid-header
	url = git://github.com/soundcloud/nginx-x-rid-header.git
[submodule "debian/modules/ngx-fancyindex"]
	path = debian/modules/ngx-fancyindex
	url = git://github.com/aperezdc/ngx-fancyindex.git
[submodule "debian/modules/ngx_pagespeed"]
	path = debian/modules/ngx_pagespeed
	url = git://github.com/pagespeed/ngx_pagespeed.git
[submodule "debian/modules/nginx-auth-ldap"]
	path = debian/modules/nginx-auth-ldap
	url = git://github.com/kvspb/nginx-auth-ldap.git
[submodule "debian/modules/naxsi"]
	path = debian/modules/naxsi
	url = git://github.com/nbs-system/naxsi.git
[submodule "debian/modules/nginx-rtmp-module"]
	path = debian/modules/nginx-rtmp-module
	url = git://github.com/arut/nginx-rtmp-module.git
