[submodule "debian/modules/nginx-cache-purge"]
	path = debian/modules/nginx-cache-purge
	url = git://github.com/FRiCKLE/ngx_cache_purge.git
[submodule "debian/modules/chunkin-nginx-module"]
	path = debian/modules/chunkin-nginx-module
	url = git://github.com/agentzh/chunkin-nginx-module.git
[submodule "debian/modules/headers-more-nginx-module"]
	path = debian/modules/headers-more-nginx-module
	url = git://github.com/agentzh/headers-more-nginx-module.git
[submodule "debian/modules/nginx-development-kit"]
	path = debian/modules/nginx-development-kit
	url = git://github.com/simpl/ngx_devel_kit.git
[submodule "debian/modules/nginx-echo"]
	path = debian/modules/nginx-echo
	url = git://github.com/agentzh/echo-nginx-module.git
[submodule "debian/modules/nginx-lua"]
	path = debian/modules/nginx-lua
	url = git://github.com/chaoslawful/lua-nginx-module.git
[submodule "debian/modules/nginx-upstream-fair"]
	path = debian/modules/nginx-upstream-fair
	url = git://github.com/gnosek/nginx-upstream-fair.git
[submodule "debian/modules/nginx-upload-module"]
	path = debian/modules/nginx-upload-module
	url = git://github.com/vkholodkov/nginx-upload-module.git
