#!/bin/sh

set -e

. /usr/share/debconf/confmodule

logdir="/var/log/nginx"

log_symlinks_check() {
    # Skip new installations
    [ -z "$1" ] && return

    # Skip unaffected installations
    dpkg --compare-versions "$1" lt-nl "1.10.2-2~dotdeb+8.2" || return 0

    # Check for unsecure symlinks
    linked_logfiles="` find "$logdir" -type l -user www-data -name '*.log' `"

    # Skip if nothing is found
    [ -z "$linked_logfiles" ] && return

    db_subst nginx/log-symlinks logfiles $linked_logfiles
    db_input high nginx/log-symlinks || true
    db_go || true
}

case "$1" in
    configure|reconfigure)
        log_symlinks_check "$2"
        ;;
    *)
        ;;
esac

# vim: set ts=4 sts=4 sw=4 et sta ai :

