#!/bin/sh
# config script for nginx-naxsi-ui

set -e

. /usr/share/debconf/confmodule

db_version 2.0

# Set up database
. /usr/share/dbconfig-common/dpkg/config.mysql

dbc_dbname=naxsi_ui
dbc_dbuser=naxsi_ui

dbc_go nginx-naxsi-ui $@

## NAXSI-UI.CONF
db_input high nginx-naxsi-ui/dbhost || true

#DEBHELPER#

db_go || true
